@using DatVeXemPhim2023.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TGhe>

@{
    ViewData["Title"] = "DanhMucPhim";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>DANH SÁCH GHẾ</h3>

<p>
    <a asp-action="ThemGhe" asp-route-IdPhong="@ViewBag.IdPhong" asp-route-IdUser="@ViewBag.IdUser">Thêm ghế</a>
</p>
<p>
    <a asp-action="XemChiTietMoHinhGheNgoi" asp-route-IdUser="@ViewBag.IdUser" asp-route-IdPhong="@ViewBag.IdPhong">Xem Chi Tiết Chỗ Ngồi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Hàng Ghế
            </th>
            <th>
                Tên Ghế
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Giá Ghế
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-primary";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-primary";
            if (i % 2 == 0)
            {
                cls = "table-success";
            }
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.HangGhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenGhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGhe)
                </td>
                <td>
                    <a asp-action="SuaGhe" asp-route-IdGhe="@item.Idghe" asp-route-IdPhong="@ViewBag.IdPhong" asp-route-IdUser="@ViewBag.IdUser">Edit</a> |
                    <a asp-action="XoaGhe" asp-route-IdGhe="@item.Idghe" asp-route-IdPhong="@ViewBag.IdPhong" asp-route-IdUser="@ViewBag.IdUser">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("DanhMucGhe", new { page = page, IdPhong = ViewBag.IdPhong }), new X.PagedList.Web.Common.PagedListRenderOptions()
{
    LiElementClasses = new List<String> { "page-item" },
    PageClasses = new List<String> { "page-link" }
})
