@using DatVeXemPhim2023.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<TComBo>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhSachCombo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Danh Sách ComBo</h3>

<p>
    <a asp-area="admin" asp-controller="TinMoiVaUuDai" asp-action="ThemComBo" asp-route-IdRapPhim="@ViewBag.IdRapPhim">Thêm Mới ComBo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên ComBo</th>
            <th>Giá</th>
            <th>Hình Ảnh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-primary";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-primary";
            if (i % 2 == 0)
            {
                cls = "table-success";
            }
            <tr class="@cls">
                <td>@Html.DisplayFor(modelItem => item.TenCombo)</td>
                <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                <td>@Html.DisplayFor(modelItem => item.HinhAnh)<img src="~/LayoutDatVe/img/quangcao/@item.HinhAnh"></td>
                <td>
                    <a asp-area="admin" asp-controller="TinMoiVaUuDai" asp-action="SuaComBo" asp-route-IdComBo="@item.IdcomBo">Sữa | </a>
                    <a asp-area="admin" asp-controller="TinMoiVaUuDai" asp-action="XoaComBo" asp-route-IdComBo="@item.IdcomBo">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(
    Model,
    page => Url.Action("DanhSachCombo", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions()
    {
        LiElementClasses = new List<String> { "page-item" },
        PageClasses = new List<String> { "page-link" }
    })
